/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

/* Encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Título y eslogan */
.titulo-bcn {
    color: #ffa500; /* Naranja */
}

.titulo-latina {
    color: #fff; /* Blanco */
}

.eslogan {
    color: #fff; /* Blanco */
    font-size: 1rem;
    font-style: italic;
    margin-top: 5px;
}

/* Video */
.video-container {
    text-align: center;
    margin: 20px 0;
}

.video-container video {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}

#reproductor h2 {
    text-align: center;
    color: #333; /* Color existente */
    margin-top: 20px; /* Espaciado opcional */
    font-size: 1.5rem; /* Ajusta el tamaño del texto si lo necesitas */
}

/* Reproductor de audio */
#reproductor .player audio {
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    display: block;
    border-radius: 5px;
}

/* Pie de página y redes sociales */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.social-media a img {
    width: 30px;
    height: auto;
    transition: transform 0.3s ease;
}

.social-media a img:hover {
    transform: scale(1.1);
}
